body {
    background-color: rgb(38, 33, 33);
}

header {
    text-align: center;
    background-color: blueviolet;
    color: white;
}


button {
    background-color: rgb(45, 37, 48);
    color: white;
    margin: 3px;
    border-color: rgb(45, 37, 48);
    border-style: hidden;
    width: 80px;
    height: 30px;
}

button:hover {
    background-color: white;
    color: black;
}

#grid-entry {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-column: 0/1;
    color: white;
    justify-content: center;
    margin: 5px 5px;
}

/* Working on the grid-column to stretch the sides */

#grid-item-left {
    background-color: rgb(82, 28, 96);
    text-align: center;
    margin: 2px 50px;
    grid-column: 1/2;
}

#grid-item-right {
    background-color: rgb(82, 28, 96);;
    text-align: center;
    margin: 2px 50px;
    grid-column: 1/2;
}


#book {
    margin-left: -75px;
}

a {
    color: green;
}